{% extends 'security/layout.html' %}

{% block body %}
<body class="">
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl">
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong>重置密码</strong>
            </header>
            <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST"
                  name="reset_password_form">
                {{ reset_password_form.hidden_tag() }}
                <div class="form-group">
                    {{ render_field_with_errors(reset_password_form.password,
                    class='form-control no-border',
                    placeholder="密码") }}
                </div>
                <div class="form-group">
                    {{ render_field_with_errors(reset_password_form.password_confirm,
                    class='form-control no-border',
                    placeholder="重复密码") }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">重置密码</button>
                <div class="line line-dashed"></div>
            </form>
        </section>
    </div>
</section>
{% endblock %}